.accordion{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    width: 100%;
    font-size: 18px;
    
}

.accordion-item{
    border: 1px solid rgba(0,0,0,.125);
    width: 100%;
}

.accordion-header{
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E0E0E0;
    border: 1px solid rgba(0,0,0,.125);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.accordion-body.open{
    transform: scaleY(1);
    height: auto;
}

.accordion-body{
    overflow: hidden;
    height: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s ease-in;
    
    
}

