.card-container{
    width: 33%;
    margin: 20px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    background-color: white;
}

.image-container{
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.card-image{
    width: 60%;
    margin: 20px;

}

.card-sub{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.results{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.results2{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: white;
    margin: 20px;

}

.details{
    columns: 2;
    float: left;
    position: relative;
    margin-right: 20px;
    justify-content: space-between;
    margin: 20px;
    background-color: white;
}