.contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    background-color: #F0F0F0;
}

.contact h1{
    margin-bottom: 1rem;
}

.stamp{
    display:flex;
    align-self: flex-end;
   
    
}

.stamp img {
    height: 100px;
    
    
}

.input{
    margin:0.75em;
    width:80%;
    font-size: 1.1rem;

}

.greeting{
    font-size: 2rem;
}


.contact-form{
    
    display:flex;
    flex-direction: column;
    width:60%;
    padding: 2em;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}


.form-button{
    width: auto;
    align-self: flex-end;
    border: 0;
    background-color: transparent;
    font-size: 3rem;
    
}

.form-button :hover {
    color:#f1356d;
}