.circle{
    border-radius: 100%;
    width: 250px;
    margin-bottom: 20px;
}

.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-size: 40px;
    margin: 20px;
}

.statement {
    font-size: 20px;
    display: flex;
    text-align: center;
    margin-top: 20px;
    

}




