.skills{
  list-style: none;
  font-size: 20px;
  margin: 10px;
  display: flex;
  text-align: center;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 1em;
  
  
}

.skill-container{
    border-radius: 100%;
    width: 10vw;
    height: 10vw;
    margin: 20px;
    border: 2.5px #f1356d solid;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:center;
    background-color: #E0E0E0;
    box-shadow: 0px 0px 15px -1px;
    padding: 15px;
}



.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.2); 
   
}


